In [2]:
import pandas as pd
import numpy as np

In [68]:
train_set = pd.read_csv('dataset/train.csv')
test_set = pd.read_csv('dataset/test.csv')

In [62]:
train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
# drop Nan lines
features_col = ['Pclass','Age','Sex','Survived']
train =  train_set[features_col]
train = train[pd.notnull(train['Age'])]
train['Sex'] = train['Sex'].map({'female': 0, 'male': 1}) # Convert Sex string to boolean values

# assign X, Y values
features_col = ['Pclass','Age','Sex']
X_train = train[features_col]
Y_train = train.Survived

In [67]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [75]:
## process test_set
# drop Nan lines
features_col = ['Pclass','Age','Sex']
test =  test_set[features_col]
test = test[pd.notnull(test['Age'])]
test['Sex'] = test['Sex'].map({'female': 0, 'male': 1}) # Convert Sex string to boolean values

X_test = test[features_col]

In [76]:
## Make predictions for our model
y_predict = logreg.predict(X_test)

In [78]:
from sklearn import metrics
metrics.accuracy_score()